.vscode/
.DS_Store
.claude/

build/
# outputs/
num-customers/
num-workers/
target/

master-slave/source-code/concept/asynchronous-mpi_openmp
master-slave/source-code/concept/asynchronous-mpi