.vscode/
.DS_Store
.claude/

build/
# outputs/
dynamic-params/
not-dynamic-params/
num-customers/
num-workers/
target/

master-slave/source-code/concept/asynchronous-mpi_openmp
master-slave/source-code/concept/asynchronous-mpi